<nav class="navbar navbar-light navbar-fixed-top navbar-expand-lg">
  <a class="navbar-brand" href="#/">Eravodua</a>
  <button aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarContent">
    <div class="navbar-nav mr-auto">
      <div class="nav navbar-nav">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" routerLink="/home" routerLinkActive="active">Home</button>
          <button type="button" class="btn btn-outline-primary" routerLink="/documents" routerLinkActive="active">Docs</button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle>Proposals</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Props</button>
              <button class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New Prop</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


  <div class="logo">
    <img alt="Eravodua Logo" src="../assets/images/logo02l.png">
  </div>


<router-outlet></router-outlet>
