<header class="">
  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffffff;">
    <a class="navbar-brand" href="#/">Eravodua</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="#navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-item nav-link" routerLink="/documents" routerLink="/documents" outerLinkActive="active">Docs</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proposals</a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Props</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New Prop</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="app-body">
  <router-outlet></router-outlet>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2017-2018 Company, Inc.</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
