<div class="container" style="padding: 20px;">
  <h1 class="heading">{{ pageTitle }}</h1>

  <div class="doc-style">
    <div class="card doc-card sharp" *ngFor="let doc of documents">
      <img class="card-img-top" src="{{ doc.image_url }}" alt="Card image cap">

      <div class="card-block">
        <h4 class="card-title">{{ doc.title }}</h4>

        <p class="card-text"><small class="text-muted">Last updated: {{ doc.updated_at | date:'medium'}}</small></p>

        <p class="card-text">{{ doc.description }}</p>

        <p class="card-text">
          <a href="{{ doc.file_url }}" class="btn btn-large btn-outline-primary">Download File</a>
        </p>
      </div>
    </div>
  </div>
</div>
