.doc-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  text-align: justify;
  padding: 20px;
  color: black;
}

.doc-card {
  margin: 0 5px;
  width: 20rem;
  padding: 10px;
}
